<div class="page-info">
  {%- if page.category -%}
    <span>
      <i class="fas fa-fw fa-folder"></i>
      <a class="page-category" href="/blog.html#{{ page.category | url_encode }}">{{ page.category }}</a>
    </span>
  {%- endif -%}

  {%- if page.tags[0] -%}
    <span>
      <i class="fas fa-fw fa-tags"></i>
      {%- for tag in page.tags -%}
        &nbsp;<a class="page-tag" href="javascript:void(0)">{{ tag }}</a>
      {%- endfor -%}
    </span>
  {%- endif -%}
</div>

<hr>

{%- assign group = site.categories[page.category] -%}
{%- for article in group -%}
  {%- if article.title == page.title -%}
    {%- assign nextIdx = forloop.index0 | minus:1 -%}
    {%- assign prevIdx = forloop.index -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

<nav class="pagination">
  <div class="pagination__previous">
    {%- if prevIdx < group.size -%}
      <span>Previous</span>
      <a href="{{ group[prevIdx].url }}" class="pagination__page">{{ group[prevIdx].title }}</a>
    {% endif %}
  </div>
  <div class="pagination__next">
    {%- if nextIdx >= 0 -%}
      <span>Next</span>
      <a href="{{ group[nextIdx].url }}" class="pagination__page">{{ group[nextIdx].title }}</a>
    {% endif %}
  </div>
</nav>

{%- include scripts/comments.js -%}

<script>
  {%- include scripts/code.js -%}
</script>
