$font-family: (
  base: ("Roboto", sans-serif),
  code: (Consolas, monospace)
);

$font-size: (
  base: 16px,

  header:     1.25em,
  header-sub: 0.75em,
  footer:     0.75em,

  1: 2em,
  2: 1.75em,
  3: 1.5em,
  4: 1.25em,
  5: 1em,
  6: 0.75em,

  h1: 2em,
  h2: 1.75em,
  h3: 1.5em,
  h4: 1.25em,
  h5: 1em,
  h6: 0.75em
);

$width: (
  min:     600px,
  small:   768px,
  medium:  900px,
  large:  1024px,
  max:    1280px
);

$transition: (
  all: all 0.2s ease-in-out
);
