.layout--404 {
  .container {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main {text-align: center;}

  h1 {font-size: 5em;}
  p {font-size: 3em;}

  @media (max-width: map-get($breakpoint, media)) {
    p {font-size: 2em;}
  }
}
