.layout--blog {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main {
    width: map-get($width, content);
  }

  @media (max-width: map-get($width, content)) {
    .main{width: 90%;}
  }
}
