.layout--page, .layout--collection {
  aside {width: 15%;}
  .content {
    width: 70%;
  }

  .page-title {
    margin: 0.5em 0;
  }

  @media (max-width: map-get($breakpoint, content)) {
    aside {width: 0;}
    .content{width: 90%;}
  }

  @media (max-width: map-get($breakpoint, medium)) {
    .content{ padding: 1em;}
  }
}
