.layout--post {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  aside {width: 15%;}
  .content {
    width: 70%;
  }

  @media (max-width: map-get($breakpoint, content)) {
    aside {display: none;}
    .content{width: 90%;}
  }

  @media (max-width: map-get($breakpoint, medium)) {
    .content{ padding: 1em;}
  }
}
