$font-family: (
  base: ('Roboto', 'Noto Sans KR', sans-serif),
  code: (Consolas, 'Nanum Gothic Coding', monospace),
  title: ('Roboto Slab', 'Noto Sans KR', serif),
);

$font-size: (
  base:  16px,
  code:  85%,
  table: 85%,

  header:     1.25em,
  header-sub: 0.75em,
  footer:     0.75em,

  page-title: 2.5em,
  page-date:  0.8em,
  page-info:  1em,
  page-tags:  90%,

  h1: 2em,
  h2: 1.8em,
  h3: 1.6em,
  h4: 1.4em,
  h5: 1.2em,
  h6: 1em,
);

$width: (
  media:   600px,
  header:  900px,
  content: 900px,
);

$transition: (
  all: all 0.2s ease-in-out
);
